body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slider-container{            
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.image-container{
    display: flex;    
    transition: 0.5s ease-out;
}
.btn{
    position: absolute;   
    top: 50%; 
    color: white;
    font-size: 20px;
    transform: translateY(-50%);
}
.btn.prev{
    left: 5px;
}
.btn.next{
    left: 95%;
}