body{
    margin: 0;
    padding: 0;
    background-color: #E9E8E8;
    color: #4C6793;    
}
*{
    font-family: monospace;
}
img{
    display: block;
    width:100%;
    border-radius: 0.5rem;    
    background-size: contain;
    margin-bottom: 2rem;
}
.tabs-content{    
    color: white;
}
.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    min-width: 340px;
    padding: 5rem 0;
}
.tabs{
    padding: 10px;
    background-color: #20262E;    
    border-radius: 0.5rem;    
}
.button{
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    background:black;
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.25rem;    
}
.btn-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;    
}
.button:hover{
    color: black;
    background-color:white;
}

@media (min-width:992px){
    .image{
        margin-bottom: 0;
    }
    .section-center{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
.content{
    display: none;
}
.content .live{
    display: block;
}
.button .live{
    background-color: #ffe5e2;
}