*{
    font-family: monospace;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;    
    justify-content: center;
    background-color: antiquewhite;
}
h1{
    font-size: 70px;
    letter-spacing: 4px;
    color: black;
    white-space:nowrap;    
}
.btn{
    cursor: pointer;
    color:white;
    padding: 30px 50px;
    background-color: white;
    border: none;
    margin: 10px;
    font-size: 30px;
    /* min-width: 200px; */
    border-radius: 20px;
    box-shadow: 0 0 40px black;
    background-image: url(./IMAGES/Drake-views-from-the-car.jpg);
    background-size:160%;
}